<h3> Hey, <%= @user.name %>! </h3>

DASHBOARD:
<p>

INCOME: | CREATE QUERY FOR MODEL TO DB TO SHOW TOTAL AMOUNT FOR INCOME
<p>
<% if @user.incomes %>
    <% @user.incomes.each do |i| %>
        <%= i.source %>
        <p>
    <% end %>
<% end %>
<p>
<%= link_to "ADD INCOME", new_user_income_path(@user) %>
<p>
MAKE LINK TO SOURCE AND SHOW BREAK DOWN OF SAVNGS, EXPENSES, INVESTMENTS
<p>


<p>

SAVINGS: | CREATE QUERY FOR MODEL TO DB TO SHOW TOTAL AMOUNT FOR SAVINGS
<p>
<%= link_to "ADD SAVINGS", new_user_saving_path(@user) %>
<p>

EXPENSES: | CREATE QUERY FOR MODEL TO DB TO SHOW TOTAL AMOUNT FOR EXPENSES
<p>

INVESTMENTS 

<p>

<%= link_to "Log Out", logout_path %>