<% if @errors %>
  <div id="error_explanation">
    <h2><%= pluralize(@errors.count, "error") %> prohibited you from create this planner:</h2>
    <ul>
      <% @errors.each.uniq do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>



CREATE NEW PLANNER
<p>
<%= form_for(@planner) do |f| %>
    <%= f.hidden_field :user_id %>
    MONTH: <%= f.text_field :month, :placeholder => "March" %>
    <p>
    GOAL: <%= f.text_field :goal, :placeholder => "Save for vacation" %>
    <p>
    AMOUNT: <%= f.number_field :amount, :placeholder => "800" %>
    <p>
    <%= f.submit "SUBMIT BUDGET PLANNER" %>
<% end %> 