<h2> <%= @planner.month %> </h3>
<p>

<h5> GOAL: <%= @planner.financial_goal %> </h5>
<p>

<p>
<%= link_to "ADD INCOME", new_user_planner_income_path(@planner.user_id,@planner)%><p>
    <% @planner.incomes.each do |i| %>
         <%= i.source %> - <%= i.amount %><p>
    <% end %>
<h4> TOTAL INCOME: $<%= @planner.total_incomes %> </h3>




<p>
<%= link_to "ADD SAVINGS", new_user_planner_saving_path(@planner.user_id,@planner) %><p>
    <% @planner.savings.each do |s| %>
         <%= s.source %> - <%= s.amount %><p>
    <% end %>
<h4>TOTAL SAVED: $<%= @planner.total_savings %> </h4>




<%= link_to "ADD EXPENSE", new_user_planner_expense_path(@planner.user_id,@planner) %>
<p>
    <% if @planner.expenses %>
        <% @planner.expenses.each do |e| %>
            <%= e.source %> - <%= e.amount %><p>
    <% end %>
<% end %>
<h4>TOTAL EXPENSES: $<%= @planner.total_expenses %> </h4>
<p>

REMAINING BUDGET: <% @planner.total_incomes - (@planner.total_savings + @planner.total_expenses) %>

<%= link_to "BACK TO DASHBOARD", user_path(@planner.user_id)%>