<h2> <%= @planner.month %> </h3>

<h4> GOAL: <%= @planner.financial_goal %> </h4>

<h3> INCOMES: <%= @planner.total_incomes %> </h3>
    <% @planner.incomes.each do |i| %>
        <li> <%= i.source %> </li>
    <% end %>

<%= link_to "ADD INCOME", new_user_planner_income_path(@planner.user_id,@planner)%>
