<%= flash[:error] if true %>

<%= content_tag :header do %>
    <%= content_tag :nav, '', :class => "navbar navbar-dark bg-dark shadow-sm" do %>
        <%= content_tag :div, '', :class => "container-flui" do %>
            <%= link_to "Sign Up", new_user_path, :class => "btn btn-primary navbar-brand" %>
            <%= link_to "Login", login_path, :class => "btn btn-secondary navbar-brand" %>
        <% end %>
        <%= content_tag :p, '', :class => "navbar-brand" do %>
            <%= render "welcome/cash_image" %>
        <% end %>
    <% end %>
<% end %>

<main>
    <section class="py-5 text-center container">
        <%= content_tag :h1, "PriVee", :class => "display-1" %>
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <p class="lead text-muted">
                    A financial website that was built using the power of Ruby on Rails. A developer's take on a spreadsheet built with financial and development goals in mind. Explore and enjoy!</p>
                </p>
            </div>
        </div>
        <%= render "display_cards" %>
   </section>
   <%= render "welcome/recognition" %>
</main>

    