<nav class="navbar navbar-light bg-secondary">
    <div class="container-fluid">
        <%= link_to "Back to Dashboard", user_path(@user), :class => "navbar-brand" %>
    </div>
</nav>



<%= content_tag :div, "", :class => "py-2 container" do %>   
    <%= content_tag :h4, "Savings for #{@savings.user.name.capitalize}", :class => "fw-light display-4" %><br>
    <%= content_tag :h3, "YTD Total: $#{Saving.sum("amount")}"%>
    <%= content_tag :h4, "Sources", :class => "fw-light display-4" %>
    <% @savings.each do |s| %>
        <li><%= s.source %>
    <% end %> 
<% end %>






