<nav class="navbar navbar-light bg-secondary">
    <div class="container-fluid">
        <%= link_to "Back to Dashboard", user_path(@user), :class => "navbar-brand" %>
    </div>
</nav>


<% binding.pry %>
<%= content_tag :div, "", :class => "py-2 container" do %>   
    <%= content_tag :h4, "Savings for #{@user.name.capitalize}", :class => "fw-light display-4" %>
            <%= content_tag :h3, "YTD Total: $#{@user.savings.count}"%>
 
        <% @user.savings.each do |s| %>
                <%= content_tag :div, '', :class => "card-body" do %>
                <%= content_tag :h5, "#{s.source}", :class => "card-title" %>
                <%= content_tag :h5, "#{s.amount}", :class => "card-title" %>
                <%= content_tag :h5, "#{s.planner.month}", :class => "card-text" %>

        <% end %>


<% end %>


<% end %>






