<nav class="navbar navbar-light bg-secondary">
    <div class="container-fluid">
        <%= link_to "Back to Dashboard", user_path(@user), :class => "navbar-brand" %>
    </div>
</nav>

    
<%= content_tag :section, "", :class => "py-5 text-center container" do %>
    <%= content_tag :div, "", :class => "py-5 container" do %>
        <%= content_tag :h1, "SAVINGS", :class => "fw-light" %>
        <%= content_tag :h3, "YTD Total: $#{@user.savings.sum("amount")}", :class => "fy-light" %>
    <% end %>
    <%= content_tag :div, "", :class => "py-5 container" do %>
            <%= content_tag :h4, "Sources", :class => "fw-light text-left" %>
                <%= content_tag :ul do %>
                    <% @user.savings.each do |s| %>
                        <%= content_tag :li do %>
                        <%= s.source %>
                        <% end%>
                    <% end %>
                <% end %>
        <% end %>
<% end %>




