<% if @errors %>
  <div id="error_explanation">
    <h2><%= pluralize(@errors.count, "error") %> prohibited you from saving this profile:</h2>
    <ul>
      <% @errors.each.uniq do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>


ADD A SAVING STRATEGY
<p>

<%= form_for(@saving) do |f| %>
    <%= f.hidden_field :user_id %>
    INCOME: <%= f.collection_select :income_id, @incomes, :id, :source, {:include_blank => true} %><p>
    STRATEGY: <%= f.text_field :source, :placeholder => '401K' %><p>
    AMOUNT: <%= f.number_field :amount %>
    <p>OR
    PERCENT: <%= f.number_field :off_percent %>
    <%= f.submit "SUBMIT" %>
<% end %>

<li>PRO TIP: for 401k, it's typical to invest what your employer matches (e.g, 6%). </li>
