<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <%= link_to "Back to Dashboard", user_path(@user), :class => "navbar-brand" %>
    </div>
</nav>

<%= content_tag :section, "", :class => "py-5 text-center container" do %>   
    <%= content_tag :h1, "EXPENSES", :class => "fw-light" %>
    <%= content_tag :div, '', :class => "card-group" do %>
        <% @user.expenses.each do |e| %>
            <%= content_tag :div, '', :class => "card" do %>
                <%= content_tag :div, '', :class => "card-body" do %>
                <%= content_tag :h5, "#{e.source}", :class => "card-title" %>
                <%= content_tag :h5, "#{e.amount}", :class => "card-title" %>
                <%= content_tag :h5, "#{e.planner.month}", :class => "card-text" %>
            <% end %>

        <% end %>

    <% end %>

<% end %>

<% end %>
