<% if @errors %>
  <div id="error_explanation">
    <h2><%= pluralize(@errors.count, "error") %> prohibited you from saving this expense:</h2>
    <ul>
      <% @errors.each.uniq do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>


    <%= content_tag :p, "Add Expense", :class => "text-center display-4" %>
<p>
<%= form_for(@planner) do |f| %>
            <%= f.fields_for :expense_attributes do |s| %> 
                <%= s.label :source, "Source", :class => "form-label" %>
                <%= s.text_field :source, :placeholder => "Rent", :class => "form-control" %>
                <%= s.label :amount, "Amount", :class => "form-label" %>
                <%= s.number_field :amount, :placeholder => "1350", :class => "form-control" %>
            <% end %>
            <%= content_tag :div, '', :class => "text-center" do %>
          <%= f.submit "Submit", :class => "btn btn-success text-center" %>
        <% end %>
        <% end %>